/wp-content/plugins
/wp-content/mu-plugins
#/wp-content/uploads
/wp-content/cache
/wp-includes
/wp-admin 
/wp-content/index.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/uploads/index.php 

/wp-*.php

# Configuration
wp-config.php 
.htaccess
# Log files
*.log

.idea/
.vscode/
.DS_Store
node_modules/
yarn.lock
package-lock.json
#vite.config.js
/web/wp-content/themes/*/public

xmlrpc.php 
license.txt
readme.html 
index.php
/wp-content/themes/fly-venture/.claude
