.container-fluid{
  @apply px-60  max-1199:px-40 max-992:px-25 max-575:px-16;
}
.container-fluid-100{
    @apply px-100 max-1600:px-60 max-1199:px-40 max-992:px-25 max-575:px-16 ;
}
.container-fluid-lg{
  @apply px-110 max-1600:px-60 max-1199:px-40 max-992:px-0 ;
}

/* button */
.btn {
  @apply inline-flex gap-8 cursor-pointer items-center justify-center rounded-lg border-0 text-[20px] max-1441:text-body-1 max-1441:py-16 max-1199:text-body-3 max-1199:leading-16 font-semibold tracking-[0.04em] leading-23 uppercase transition-all duration-300 ease-in-out;
}
.btn-b-white {
  @apply text-white hover:text-black relative bg-transparent border-white border-3 border-solid inline-flex items-center px-32 py-16 justify-center text-center transition-all duration-300 delay-75 shadow-none rounded-lg z-1 overflow-hidden;
}
.btn-b-white::before{
  @apply content-[''] absolute top-0 right-0 w-0 h-full bg-white -z-1 transition-all duration-300 delay-75;
}

.btn-white {
    @apply text-blue hover:text-white relative bg-white  inline-flex items-center px-28 py-14 justify-center text-center transition-all max-1199:text-body-2! max-1199:leading-19! duration-300 delay-75 shadow-none rounded-lg z-1 overflow-hidden;
}
.btn-white::before{
    @apply content-[''] absolute top-0 right-0 w-0 h-full bg-blue -z-1 transition-all duration-300 delay-75;
}
.btn-white:hover::before{
    @apply  w-full left-0
}

.btn-blue {
  @apply text-white  relative   inline-flex items-center px-40 py-20 max-1441:py-16 max-1441:px-35 justify-center text-center transition-all duration-300 delay-75 shadow-none rounded-lg z-1 overflow-hidden hover:text-blue;
  background: linear-gradient(90deg, #2872A3 0%, #336E95 100%);
}
.btn-blue::before{
  @apply content-[''] absolute inset-0 opacity-0 -z-1;
  background: linear-gradient(90deg, #fff 0%, #fff 100%);
  transition: opacity 0.4s ease-in-out;
}
.btn-blue:hover::before{
  @apply opacity-100
}

.btn-b-white img{
  @apply transition-all duration-300 delay-75 ;
}
.btn-b-white:hover img {
  @apply invert-100
}
.btn-b-white:hover::before{
  @apply  w-full left-0
}

.btn-orange {
  @apply text-white relative inline-flex items-center px-40 py-20 max-1441:py-16 max-1441:px-35 max-1199:px-32 max-1199:py-16 justify-center text-center shadow-none rounded-lg z-1 overflow-hidden;
  background: linear-gradient(90deg, #F79808 0%, #E26216 100%);
}
.btn-orange::before {
  @apply content-[''] absolute inset-0 opacity-0 -z-1;
  background: linear-gradient(90deg, #2872A3 0%, #336E95 100%);
  transition: opacity 0.4s ease-in-out;
}

.btn-orange:hover::before {
  @apply opacity-100
}

.title-white h1 , .title-white h2 , .title-white h3 , .title-white h4 , .title-white h5 , .title-white h6 , .title-white .h1 , .title-white .h2, .title-white .h3, .title-white .h4 , .title-white .h5 , .title-white .h6 {
  @apply text-white
}

.title-blue h1 , .title-blue h2 , .title-blue h3 , .title-blue h4 , .title-blue h5 , .title-blue h6 , .title-blue .h1 , .title-blue .h2, .title-blue .h3, .title-blue .h4 , .title-blue .h5 , .title-blue .h6 {
  @apply text-blue
}

.title-extrabold *{
  @apply font-extrabold
}
.title-light *{
  @apply font-light
}

.content p,
.content a {
  @apply font-worksans font-normal text-body-2 leading-24 m-0 p-0 block;
}
.content a {
  @apply duration-300 ease-linear text-blue hover:text-orange;
}


.white p,
.white a {
  @apply text-white;
}

.global-list ul {
  @apply flex flex-col items-start justify-start m-0 p-0 last:mb-0 w-full gap-20;
}

.global-list.two-column ul li {
  @apply pb-10
}



.global-list ul li {
  @apply relative w-fit m-0 p-0 pl-22 max-1023:pl-18 text-black text-body-2 leading-24 font-worksans font-normal;
}

.global-list ul li:before {
  content: "";
  @apply absolute top-7 left-0 w-10 h-10 max-1023:w-8 max-1023:h-8 rounded-full bg-blue;
  ;
}


.global-list li span {
  @apply font-bold;
}

.global-list ol {
  @apply list-decimal flex flex-col items-start justify-start m-0 p-0 last:mb-0 w-full gap-10;
}

.global-list ol li {
  @apply relative w-full m-0 p-0 pl-12 text-black text-body-2 leading-18 font-worksans font-normal;
}

.global-list ol li {
  @apply w-[99%]
}

.global-list ol li::marker {
  @apply font-bold text-body-2 leading-18 font-worksans text-orange mr-4;
}

input {
  @apply appearance-none outline-none border-0;
}



.price-tag-tooltip-wrap {
  @apply relative inline-flex items-center cursor-pointer;
}

.price-tag-tooltip {
  @apply hidden absolute bottom-[calc(100%+6px)] left-1/2 translate-x-[-50%] bg-[#1a1a1a] text-white text-body-4 leading-18 px-8 py-3 z-10 pointer-events-none whitespace-nowrap;
}

/* Arrow */
.price-tag-tooltip::after {
  @apply content-[''] absolute top-full left-1/2 translate-x-[-50%] border-t-5 border-solid border-0 border-t-[#1a1a1a] ;
}
.price-tag-tooltip-wrap:hover .price-tag-tooltip {
  @apply block;
}

.popular-tour-meta .best-price-tag img {
  @apply max-h-15
}
.popular-tour-meta .normal-tag {
  @apply leading-16 text-body-3
}
